@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: hsl(217, 54%, 11%);
  --card: hsl(216, 50%, 16%);
  --softblue: hsl(215, 51%, 70%);
  --cyne: hsl(178, 100%, 50%);
}
body {
  background-color: var(--bg);
  font-family: "Outfit", sans-serif;
}
header {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
}

footer {
  text-align: center;
  margin: 2rem 0;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 100;
}

main {
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.card-container {
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 500px;
  background-color: var(--card);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  /* align-items: center; */
}
.card-trooper,
.card-abby,
.card-torpey,
.card-khoya {
  border: solid;
}
.card:hover {
  background-color: hsl(216, 50%, 20%);
  box-shadow: 0 0 25px black;
}
img {
  width: 250px;
  /* height: 150px; */
  /* border: 3px solid var(--bg); */

  border-radius: 10%;
}
.fname {
  color: white;
  font-size: 1.5rem;
}
p {
  color: var(--softblue);
  font-size: 14px;
}
.fav-food,
.activity,
.age,
.monthday {
  display: flex;
  align-items: center;
}

.icon i {
  margin-right: 10px;
}
.icon .fa-heart {
  color: #ff1a40;
}

#ageabby,
#agetrooper,
#agetorpey,
#agekhoya {
  color: var(--cyne);
  font-size: 1.2rem;
}
#month-abby,
#month-trooper,
#month-torpey,
#month-khoya {
  color: var(--softblue);
}
